apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cns-bundle
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
{{- range .Components }}
    # {{ .Name }} Application
    - repoURL: <YOUR_GIT_REPO>  # TODO: Replace with your GitOps repository URL
      targetRevision: main       # TODO: Adjust branch/tag as needed
      path: {{ .Path }}
{{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
