apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .Name }}
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "{{ .SyncWave }}"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    # Helm chart source with values from bundle
    - repoURL: '{{ .Source }}'
      targetRevision: '{{ .Version }}'
      chart: {{ .Name }}
      helm:
        releaseName: {{ .Name }}
        valueFiles:
          - $values/{{ .ValuesFile }}
    # Reference to Git repository for values.yaml file
    - repoURL: <YOUR_GIT_REPO>  # TODO: Replace with your GitOps repository URL
      targetRevision: main      # TODO: Adjust branch/tag as needed
      ref: values
{{- if .HasManifests }}
    # Additional manifests from the component's manifests directory
    - repoURL: <YOUR_GIT_REPO>  # TODO: Replace with your GitOps repository URL
      targetRevision: main      # TODO: Adjust branch/tag as needed
      path: {{ .ManifestsDir }}
{{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
